{%extends 'basic.html'%}

{%load static%}

{%block title%} about {%endblock%}

{%block body%}

<div class="heading" style="background:url(/static/images/header-bg-1.png) no-repeat">
   <h1>About Us</h1>
</div>


<!-- about section starts  -->

<section class="about">

   <div class="image">
      <img src="/static/images/about-img.jpg" alt="">
   </div>

   <div class="content">
      <h3>Why choose us?</h3>
      <p>For a travel site, this means that design can be the determining factor in whether a visitor
         trustsrecommendations and information.And considering the significant investments that go into planning a trip,
         tris essential.It can make or break a Traveler's decision to take a certain tour, stay acertain hotel, or even
         visit acity or country altogether.Plus, beyond serving as a trustworthy source of inspiration, a travel site
         aneeds to give would-beTravelers all the information they need to arrange their travel plans.</p>

      <p>For a travel site, this means that design can be the determining factor in whether a visitor
         trustsrecommendations and information.And considering the significant investments that go into planning a trip,
         trust is essential.It can make or break a Traveler's decision to take a certain tour, stay at a certain hotel,
         or even visit a city or country altogether.Plus, beyond serving as a trustworthy source inspiration, a travel
         site also needs to give would-be Travelers all the information they need to arrange their travel plans.</p>

      <div class="icons-container">
         <div class="icons">
            <i class="fas fa-map"></i>
            <span>Top destinations</span>
         </div>
         <div class="icons">
            <i class="fas fa-hand-holding-usd"></i>
            <span>Affordable price</span>
         </div>
         <div class="icons">
            <i class="fas fa-headset"></i>
            <span>24/7 Guide service</span>
         </div>
      </div>
   </div>

</section>

<!-- about section ends -->

<!-- reviews section starts  -->

<section class="reviews">

   <h1 class="heading-title"> Clients Reviews </h1>

   <div class="swiper reviews-slider">

      <div class="swiper-wrapper">

         <div class="swiper-slide slide">
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <p>I traveled with my wife and son on Turkey Tour with Kesari! It was an amazing experience. Kesari arranged
               it very well especially Indian food at Cappadocia and at Istanbul. Also, Sudarshan is a very good tour
               leader. Keeps us enjoying and happy every moment. He take care of us every time and managed us very well
               on the Tour. We are very happy with the group on Tour. We enjoyed every moment. Thanks, Kesari for
               keeping us happy. We always prefer to travel with this tours.</p>
            <h3>Nitesh Parab</h3>
            <span>Traveler</span>
            <img src="/static/images/pic-1.png" alt="">
         </div>


         <div class="swiper-slide slide">
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <p>During the Amarnath Yatra with Kesari, I took darshan of the indescribable Pindi of Bholenath! My
               long-cherished wish has finally been fulfilled and all the credit goes to Kesari. It is a very tough
               journey, but with the good planning of Kesari Tours, it was made possible.
               During this trip, there was no shortage of anything due to the perfect arrangement of travel,
               accommodation, and many things. Kesari Tours, which has created an ideal in the field of tourism, has
               once again been seen. Big thanks to this Tours and Travels!
            </p>
            <h3>John deo</h3>
            <span>Traveler</span>
            <img src="static/images/pic-2.png" alt="">
         </div>


         <div class="swiper-slide slide">
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus enim deserunt, ab at ea iste odio
               placeat doloribus eum dolores tempore obcaecati, dolore esse aperiam. Excepturi ad quo distinctio,
               dignissimos voluptate, dolores, saepe animi eum atque sint esse ab exercitationem!</p>
            <h3>John deo</h3>
            <span>Traveler</span>
            <img src="/static/images/pic-3.png" alt="">
         </div>

         <div class="swiper-slide slide">
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <p>Just an amazing experince to travel with this tours and travles</p>
            <h3>John deo</h3>
            <span>Traveler</span>
            <img src="/static/images/pic-4.png" alt="">
         </div>

         <div class="swiper-slide slide">
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <p>h has finally been fulfilled and all the credit goes to Kesari. It is a very tough journey, but with the
               good planning of Kesari Tours, it was made possible.
               During this trip, there was no shortage of anything due to the perfect arrangement of travel,
               accommodation, and many things. Kesari Tours, which has created an ideal in the field of tourism, has
               once again been seen. Big thanks to this Tours and Travels!</p>
            <h3>John deo</h3>
            <span>Traveler</span>
            <img src="/static/images/pic-5.png" alt="">
         </div>

         <div class="swiper-slide slide">
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni
               ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui
               distinctio possimus?</p>
            <h3>John deo</h3>
            <span>Traveler</span>
            <img src="/static/images/pic-6.png" alt="">
         </div>

      </div>

   </div>

</section>

<!-- reviews section ends -->
{%endblock%}