{%extends 'basic.html'%}
{%load static%}

{%block title%} Services {%endblock%}
{%block body%}


<section id="services-newpage">
    
    <h1 id="heading-services-newpage">SERVICES</h1>

<div id="box-container-services-newpage">
    <div id="box-services-newpage">
            <i class="fas fa-hotel"></i>
            <h3>Affordable Hotels</h3>
            <p>A hotel that provides minimum amenities and services for a lower price than a regular hotel in the area. This type of hotel provides clean rooms that are safe and meet the basic needs of a guest. Extra amenities may be available, but for an extra cost.</p>
        </div> <!--closing tag of box-->
        <div id="box-services-newpage">
            <i class="fas fa-utensils"></i>
            <h3>Food and Drinks</h3>
            <p>Food and Beverage Services can be broadly defined as the process of preparing, presenting and serving of food and beverages to the customers. F&B Services can be of the following two types − On Premise − Food is delivered where it is prepared.</p>
        </div> <!--closing tag of box-->
        <div id="box-services-newpage">
            <i class="fas fa-bullhorn"></i>
            <h3>Safety Guide</h3>
            <p>Safety guidelines are the processes of being safe, especially on our roads. They are usually in the form of instructions, which help in promoting safety, by preventing accidents and hazards. They are general rules written to give advice and direct people's behaviour.</p>
        </div> <!--closing tag of box-->
        <div id="box-services-newpage">
            <i class="fas fa-globe-asia"></i>
            <h3>Around The World</h3>
            <p>n a large proportion of Earth; in various parts of Earth. Around the world, people are starting to in to Voice of America. Everyone around the world likes Coke. adverb.</p>
        </div> <!--closing tag of box-->
        <div id="box-services-newpage">
            <i class="fas fa-plane"></i>
            <h3>Fastest Travel</h3>
            <p>It is a type of warp that is specifically used to traverse the game's world rather than the inside of a level. Sometimes in-game time passes while fast traveling, while in other cases the travel is simply implied or the player is teleported by magical or technological means.</p>
        </div> <!--closing tag of box-->

        <div id="box-services-newpage">
            <i class="fas fa-hiking"></i>
            <h3>Adventures</h3>
            <p>An adventure is an exciting experience or undertaking that is typically bold, sometimes risky. Adventures may be activities with danger such as traveling, exploring, skydiving, mountain climbing, scuba diving, river rafting, or other extreme sports.</p>
        </div> <!--closing tag of box-->


    </div> <!--closing tag of box-container -->

    </section>
<!-- end of service section -->





{%endblock%}
